

h1{
    font-size: 22pt;
    color: #4aaaa5;
}

h2{
    font-size: 18pt
}

h3{
    font-size: 14pt
}

p, form{
    font-size: 12pt;
    line-height: 16pt;
}

body {
    color:#777777;
    border: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white-waves.png");
    background-repeat: repeat;
    background-size: cover;
}

header {
    background-color: white;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-width: 0px 0px 3px 0px;
    border-style:solid;
    width: 100%;
    height: 70px;
    position: fixed; 
    top: 0px;
    left: 0px;
}



a:link {
    color:#777777;
    text-decoration: none;
}

a:visited {
    color:rgb(134, 11, 134);
    text-decoration: none;
}

a:active {
    color:rgb(179, 53, 8);
    background-color: transparent;
    text-decoration: none;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 5px;
    border-style: solid; 
    border-width: 10px 0px 0px 0px;
    border-color: #4aaaa5;
    position: fixed;
    bottom: 0px;
    width:100%;
}


div.container{
    width:80%;
    height:100%;
    margin-top:90px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
}



#square1{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square2{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square3{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square4{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square5{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square6{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}


#square7{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square8{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}

#square9{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #4aaaa5;
    color: white;
}


#header_name{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 160px;
    height: 40px;
    position: fixed;
    top: 12px;
    left: 100px;
    text-align: center;
    color: white;
}

#header_link_contact{
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100px;
    position: fixed;
    top: 16px;
    right: 100px;
    text-align: center
}

#header_link_portfolio{
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100px;
    position: fixed; 
    top: 16px;
    right: 200px;
    text-align: center
}

#header_link_index{
    border: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100px;
    position: fixed;
    top: 16px;
    right: 300px;
    text-align: center
}

#about_image{
    float:left;
    width:150px;
    height:auto;
    margin: 20px;
}


#portfolio_box_container{
    padding: 20px;
}




@media screen and (max-width: 640px) {

    div.container {
        width:86%;
        height:100%;
        margin-top:80px;
        margin-bottom:5px;
        margin-left: auto;
        margin-right: auto;
        padding: 14px;
        background-color: white;
    }

    h1{
        font-size: 16pt;
        color: #4aaaa5;
    }
    
    h2{
        font-size: 12pt
    }
    
    h3{
        font-size: 8pt
    }
    
    p, form{
        font-size: 6pt;
        line-height: 10pt;
    }
    #header_name{
        background-color: #4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 4px;
        width: 120px;
        height: 30px;
        position: fixed;
        top: 12px;
        left: 25px;
        text-align: center;
        color: white;
    }
    
    #header_link_contact{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 4px;
        width: 80px;
        position: fixed;
        top: 16px;
        right: 25px;
        text-align: center
    }
    
    #header_link_portfolio{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 4px;
        width: 80px;
        position: fixed; 
        top: 16px;
        right: 100px;
        text-align: center
    }
    
    #header_link_index{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 4px;
        width: 80px;
        position: fixed;
        top: 16px;
        right: 175px;
        text-align: center
    }

}


@media screen and (max-width: 768px) and (min-width: 641px) {

    div.container {
        width:84%;
        height:100%;
        margin-top:90px;
        margin-bottom:10px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        background-color: white;
    }

    h1{
        font-size: 18pt;
        color: #4aaaa5;
    }
    
    h2{
        font-size: 14pt
    }
    
    h3{
        font-size: 10pt
    }
    
    p, form{
        font-size: 8pt;
        line-height: 12pt;
    }

    #header_name{
        background-color: #4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 6px;
        width: 140px;
        height: 30px;
        position: fixed;
        top: 12px;
        left: 50px;
        text-align: center;
        color: white;
    }
    
    #header_link_contact{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 6px;
        width: 80px;
        position: fixed;
        top: 16px;
        right: 50px;
        text-align: center
    }
    
    #header_link_portfolio{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 6px;
        width: 80px;
        position: fixed; 
        top: 16px;
        right: 150px;
        text-align: center
    }
    
    #header_link_index{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 6px;
        width: 80px;
        position: fixed;
        top: 16px;
        right: 250px;
        text-align: center
    }

  }
  
  @media screen and (max-width: 979px) and (min-width: 769px) {

    div.container {
        width:82%;
        height:100%;
        margin-top:90px;
        margin-bottom:10px;
        margin-left: auto;
        margin-right: auto;
        padding: 18px;
        background-color: white;
    }

    h1{
        font-size: 20pt;
        color: #4aaaa5;
    }
    
    h2{
        font-size: 16pt
    }
    
    h3{
        font-size: 12pt
    }
    
    p, form{
        font-size: 10pt;
        line-height: 14pt;
    }

    #header_name{
        background-color: #4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 8px;
        width: 160px;
        height: 35px;
        position: fixed;
        top: 12px;
        left: 75px;
        text-align: center;
        color: white;
    }
    
    #header_link_contact{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 8px;
        width: 80px;
        position: fixed;
        top: 16px;
        right: 50px;
        text-align: center
    }
    
    #header_link_portfolio{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 8px;
        width: 80px;
        position: fixed; 
        top: 16px;
        right: 150px;
        text-align: center
    }
    
    #header_link_index{
        border: #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 8px;
        width: 80px;
        position: fixed;
        top: 16px;
        right: 250px;
        text-align: center
    }

  }

@media screen and (min-width: 980px) {

      }